{% extends 'base.html' %}

{% block title %} About {% endblock %}

{% block body %}

<!-- First panel -->

<div class="nbg-gradient">

<div class="container bg-light">

    <div class="row align-items-center" style="margin-top: -1rem;" >
        <div class="side-pic row col-md-4 col-sm-5">
            <div class="">
                <img class="" src="static\img\Prof_coaching\mmexport1438951103955 (2).jpg" alt="" style="margin-left: -0.75rem!important; ">
            </div>
            <div class="my-2 px-5 links">
                <a href="https://www.linkedin.com/in/ethan-heikell/">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="black" class="bi bi-linkedin" viewBox="0 0 16 16">
                    <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
                    </svg>
                </a>
                <a href="https://github.com/UndrscoreEX/">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="black" class="bi bi-github" viewBox="0 0 16 16">
                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                </svg>
                </a>
                <a href="static\img\Prof_coaching\CV Ethan Heikell 2023.pdf" style="color: black;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="black" class="bi bi-file-earmark-font" viewBox="0 0 16 16">
                        <path d="M10.943 6H5.057L5 8h.5c.18-1.096.356-1.192 1.694-1.235l.293-.01v5.09c0 .47-.1.582-.898.655v.5H9.41v-.5c-.803-.073-.903-.184-.903-.654V6.755l.298.01c1.338.043 1.514.14 1.694 1.235h.5l-.057-2z"/>
                        <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/>
                    </svg>
                    PDF
                </a>
                <!-- <button type="button" clas s="btn btn-dark"><a href="static\img\Prof_coaching\CV Ethan Heikell 2022.pdf" style="color: white;">Resume PDF</a></button> -->
            </div>
        </div>
        <div class="row col-md-8 col-sm-7 mx-auto" style="border-left-style: solid; border-color:rgb(255, 122, 122); border-width: 3x;"> 
            <div class="d-flex row ">
                <h1 class="col-md-6 col-sm-6">
                    Ethan Heikell
                </h1>
                <span class=" my-auto mx-auto col-sm-6 col-md-6">
                    <p class="my-auto">Full-stack Engineer</p>
                </span>

            </div>
            <hr>

            <!-- <div> -->
            <h5 class="about-h5">
                Working Experience
            </h5>
            <div class="row col-md-12 col-xs-12 align-top">
                <p class="content-title"><span>
                    <a href="https://company.pintor.jp/">Pintor</a> |
                </span>Software Engineer/ AWS Cloud Architect
                <br>
                    Aug/2020 - Present 
                </p>
                <p class="content-details">
                    - Web-scraping of 500+ individual museums /museum art data for use in app prototype <em>(Scrapy, Docker, Splash)</em> 
                    <br>
                    - Scraping data from Museum API Endpoints <em>(scrapy and request modules)</em>
                    <br>
                    - Launched WP website on NGINX and EC2, auto-scaling configurations, RDS launch and connections.   
                    <br>
                    - Automating the creation of new project environments via command line <em>(OS, shutil, subprocess modules)</em>. 
                    <br>
                    - Selenium browser automation for testing and for scraping web pages that rely on JavaScript. 
                    <br>
                    - Created online courses: IT Foundations, SQL language course, MySQL and Amazon RDS, AWS Cloud Practitioner + Solutions Architect Exam prep     
                    
                </p>
            </div>
            <div class="row col-md-12 col-xs-12 align-top" >
                <p class="content-title"><span>
                    <a href="https://www.iccworld.co.jp/">ICC Consultants</a> | 
                </span>Consultant/ Marketing Manager 
                <br>
                Jan/2018 - Present
                </p>
                <p class="content-details">
                    - Recruitment of Japanese companies and international candidates. (B2C/B2B in ENG/JAP).
                    <br>
                    - Graphic designer
                    <br>
                    - Achieved highest recorded number of sales + top conversions/KPI for 2019
                    <br>
                    - Manager of Marketing: branding, graphic design, digital marketing (FB, Google Adwords etc)
                    
                </p>
                
            </div>
            <div class="row col-md-12 align-top">
                <p class="content-title"><span>
                    <a href="https://www.ipu.ac.nz/">
                    IPU New Zealand Tertiary Institute
                    </a> | 
                </span>
                 Domestic Recruitment Leader
                <br>
                Mar/2016- Dec/2017
                </p>
                <p class="content-details">
                    - Recruitment of Highschool and University level students.
                    <br>
                    - Student support Officer for students at NZ campus
                    
                </p>
                
            </div>
            <hr>
            <h5 class="about-h5">
                Education
            </h5>
            <div class="row col-md-6 align-top">
                <p class="content-title"><span>
                    Bach. of International Studies |
                </span>
                IPC Tertiary Institute (NZ) | 2014
                </p>
                <!-- <p class="content-details">
                Major: Japanese Language and culture
                </p> -->
            </div>
            <div class="row col-md-6 align-top">
                <p class="content-title"><span>
                    Dipl. of Japanese Studies |
                </span>
                IPC Tertiary Institute (NZ) | 2014
                </p>
            </div>
            <hr>
            <div class="row col-md-6 align-top">
                <h5 class="about-h5">
                    Skills
                </h5>
                <p class="content-details">
                    -<span class="tab"></span>Japanese Lang. (Business level)<br>
                    -<span class="tab"></span>Marketing<br>
                    -<span class="tab"></span>Photoshop/ Graph. design<br>
                    -<span class="tab"></span>Public Speaking<br>
                    -<span class="tab"></span>Presentations<br>
                    -<span class="tab"></span>Project Management<br>
                    -<span class="tab"></span>B2B/B2C Sales<br>
                </p>
            </div>
            <div class="row col-md-6 align-top">
                <h5 class="about-h5">
                    Softwares
                </h5>
                <p class="content-details">
                    -<span class="tab"></span>Python (proficient)<br>
                    -<span class="tab"></span>Flask (proficient)<br>
                    -<span class="tab"></span>Django (proficient)<br>
                    -<span class="tab"></span>Bootstrap/HTML/CSS (proficient)<br>
                    -<span class="tab"></span>JavaScript + Vue.js (indermediate)<br>
                    -<span class="tab"></span>AWS (~Solutions Arch.)<br>
                    -<span class="tab"></span>Docker (intermediate)<br>
                    -<span class="tab"></span>SQL (intermediate) <br>
                </p>
            </div>
            <hr>
            <h5 class="about-h5">
                Certificates
            </h5>
            <div class="row col-md-6 align-top">
                <p class="content-details">
                    -<span class="tab"></span>AWS Foundations (25 hr) <span class="udemy">(Udemy)</span><br>
                    -<span class="tab"></span>Digital Strategy <span class="LinkedIn">(LinkedIn)</span> <br>
                    -<span class="tab"></span>Advertising Instagram <span class="LinkedIn">(LinkedIn)</span><br>
                    -<span class="tab"></span>Marketing Instagram <span class="LinkedIn">(LinkedIn)</span><br> 
                    -<span class="tab"></span>SEO Foundations <span class="LinkedIn">(LinkedIn)</span><br>
                    -<span class="tab"></span>Pricing Strategy <span class="LinkedIn">(LinkedIn)</span><br>
                </p>
            </div>
            <div class="row col-md-6 align-top">
                <p class="content-details">
                        -<span class="tab"></span>Python Coding (60 hr) <span class="udemy">(Udemy)</span><br>
                        -<span class="tab"></span>Web Design Flask (12 hr) <span class="udemy">(Udemy)</span><br>
                        -<span class="tab"></span>Online Marketing <span class="LinkedIn">(LinkedIn)</span> <br>
                        -<span class="tab"></span>5-step Creative Process <span class="LinkedIn">(LinkedIn)</span><br>
                        -<span class="tab"></span>Marketing Budget <span class="LinkedIn">(LinkedIn)</span> <br>
                        -<span class="tab"></span>Marketing to Humans <span class="LinkedIn">(LinkedIn)</span><br>
                    </p>
            </div>
        </div>
    </div>
</div>
</div>
<br>


    
    <!-- second panel -->

    {% endblock %}
    