{% extends 'base.html' %}

{% block title %} Graphic Design {% endblock %}



{% block body %}
<!-- first layer -->
    <div class="container row hr">
    <div class="row col-md-7">
        <h1 class="submain-title">
            GRAPHIC DESIGN
        </h1>
        <p class="submain-text special-text">
            My work has been aimed at young, motivated professionals who dream about life in Japan. 

            I have designed a range of banners, graphics, and ads to connect and inspire them to see what I see with this country.
            <br>
            I often use themes of discovery, opportunity, and personal growth to show my ideas.
        </p>
    </div>
    <div class="row col-md-5">
        <div>
            <img class='display-fullwidth small-width' src="static\img\temple.png">
        </div>
        
    </div>
</div>
<!-- second layer -->
<div class="container row hr align-items-center">
    <div class="row col-md-8 col-lg-7"> 
        <div>
            <img class="display-fullwidth img-fluid small-width" src="static\img\Autumn banner 1.2.jpg">
        </div>
    </div>
    <div class="row col-md-4 col-lg-5 ">
        <div>
            <img class="display-halfwidth flyer small-width" src="static\img\IMG_0341.PNG"  alt="">
        </div>
    </div>
    </div>
    <!-- third layer -->
    <!--  d-none d-lg-block d-md-block -->
    <div class="container row hr align-items-center">
        <div class="col-lg-6 col-md-6 row " >
                <!-- <div class="col-md-12 col-sm-3 col-xs-3"> -->
                    <div>
                    <img class='small-width ' src="static\img\FB 1.webp" alt="">
                </div>
                <!-- <div class="col-md-1 col-lg-3 col-sm-3">
                    <img class='display-quartwidth-r' src="static\img\Pagoda RB Blur.png" alt="">
                </div> -->
               
        </div>
    
        <div class="row col-md-6">
            <div>
                <img class="display-halfwidth flyer-2 small-width" src="static\img\Griffith Flyer Page 2.png" alt="">
            </div>
        </div>
       
    </div>


        <!-- forth layer -->
    <div class="container row hr align-items-center">
        <div class="row col-md-6">
            <div class="my-auto">
                <img style="margin-top: 10px;" class="display-fullwidth small-width" src="static\img\autumn-program-thin-banner.gif" alt="">
                <img style="margin-top: 10px;" class="display-fullwidth small-width" src="static\img\Good-WInter.gif" alt="">
                <img style="margin-top: 10px;" class="display-fullwidth small-width" src="static\img\lantern.png" alt="">
            </div>
        </div>
        <div class="row col-md-6"> 
            <div>
                <img class="display-halfwidth flyer-2 small-width" src="static\img\Griffith Flyer Page 1.gif" alt="">
            </div>
        </div>
    

</div>
{% endblock %}





