<!-- <nav class="navbar navbar-light navbar-expand-lg sticky-top white-bg" >
        <div class="container px-5 ">
        <a class="navbar-brand" href="{{url_for('main')}}">
          <img src="static/img/_EX_logo_black.gif" width="55" height="40" alt="">
        </a>
        <button class="navbar-toggler navbar-light bg-light" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
          </button>
          <div class="collapse navbar-collapse"style="z-index: 1;" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto ">
              <li class="nav-item active">
                <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">IT Backend</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Design</a>
                </li>
                <li class="nav-item border-right">
                    <a class="nav-link" href="#">Proffesional Training</a>
                </li>
            </ul>
        </div>
        </div>
    </nav>

    <hr> -->
