{% extends 'base.html' %}

{% block title %} Personal Coaching {% endblock %}

{% block body %}


<!-- First layer -->
<div class="container">

    <div class="container row hr align-items-center">
        <div class="row col-lg-7 col-md-6 col-sm-12">
            <h1 class="submain-title text-sm-right">
                BUSINESS COACHING
            </h1>
            <p class="submain-text special-text">
                I have designed and taught classes on a range of business topics aimed at training young professional for a global future, especially in Japan. 
                <br>
                From goal-setting to Japanese business culture, I have taught hundreds of international clients about how to succeed in a global environment.        </p>        
        </div>
        <div class="row col-lg-5 col-md-6 col-sm-12"> 
            <div>
                <img class='display-fullwidth small-width' src="static\img\Prof_coaching\P1140595.jpg" alt="">
            </div>
        </div>
    </div>
    
    
    <!--  second layer -->
    <div class="container row hr align-items-center">
        <div class="col-md-5" style="z-index: 3;"> 
            
            <div>
                <img class="w-100"  src="static\img\Prof_coaching\IMG_0358.PNG" alt="">
            </div>
            
        </div>
        <div class="col-md-7" style="z-index: 1;">
            <div>
                <img class="w-100" src="static\img\Prof_coaching\IMG_20190726_162350good.jpg" alt="">
            </div>
        </div>
    </div>
    
    <!-- third  -->
    <div class="container row hr ">
        <div class="row col-md-7">
            <div>
                <img class="display-fullwidth wide small-width" src="static\img\Prof_coaching\IMG_8260.JPG" alt="">
            </div>
            
        </div>
        <div class="row col-md-5 col-sm-12"> 
            <div class="col-md-6 col-sm-6">
                <img class="display-fullwidth short small-width" src="static\img\Prof_coaching\IMG_0357.PNG" alt="">
            </div>
            <div class="col-md-6 col-sm-6" style="margin-top: 100px; margin-left: -20px;" >
                <img class="display-fullwidth short small-width" src="static\img\Prof_coaching\IMG_0356_PNG.webp"  alt="">
            </div>
        </div>
    </div>
</div>

 <!-- fourth -->
 <div class="container hr ">
    <div class="row ">
        <div class="row">
            <img class="w-100" src="static/img/Prof_coaching/UCD.png" alt="">
        </div>
        
    </div>
</div>
</div>

    {% endblock %}

    

    
    <!-- <div class="container row hr align-items-center">
        <div class="row col-md-7">
            
        </div>
        <div class="row col-md-5"> 
            
        </div>
    </div> -->