  {% extends "base.html" %}
  {% block title %} Main Page {% endblock %}
  
  {% block body %}


    <!-- change fonts + colors for text -->

    <div style="overflow-x:hidden">
    <div class="container-fluid row" >
              <div class="col-lg-4 col-md-6 col-sm-4 ">
                <img src="static\img\Prof_coaching\mmexport1585419446315 (2).jpg" alt="" style="min-width: 500px; ; " class="main-pic"  >
              </div>
              <div class="col-lg-8 col-md-6 col-sm-8 " style="background-color: white;">
                  <h1 class="display-1" style=" margin-right: 2rem;">
                    I am 
                      <span>
                          <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                  <p>A Designer </p>
                                </div>
                                <div class="carousel-item">
                                  <p>An Engineer</p>
                                </div>
                                <div class="carousel-item">
                                    <p>A Professional</p>
                                </div>
                                <div class="carousel-item">
                                  <p>Ethan</p>
                                </div>
                            </div>
                          </div>
    
                      </span>

                  </h1>
                <div>
                  <p class="py-4 special-text">
                    <span class="main-color ">Jack of all trades </span>
                    I'm proud to be successful self-starter and largely self-taught. Through my long International career experience, I have been able to develop my skills in many key areas. As an international professional in Japan, I have successfully led projects in bilingual sales, marketing, design, and software development.   
                  </p>
                </div>
              </div>    
          </div>

        <hr>
        <hr>
          <div class="container mx-2">
            <div href="{{url_for('design')}}" class="my-auto my-2" > 
              <a class="port-title" href="{{url_for('design')}}">

                <p class=" display-1 text-end" >Graphic Design</p>
              </a>
            </div>
              <!-- <div class="row " > -->
                  
                  <!-- first row -->
                <div class=" my-2 row img-cont ">
                  <div class="stretch-l col-lg-4 col-md-4 col-sm-3 col-xs-3 justify-content-center">
                    <img class="" src="static\img\temple.png">
                  </div>
                  <div class="stretch-l col-lg-2 col-md-2 col-sm-3 col-xs-3 justify-content-center gd-left">
                    <img class="sm-ignore" src="static\img\FB 1.webp">
                  </div>
                  <div class="stretch-l col-lg-2 col-md-2 col-sm-3 col-xs-3 my-auto justify-content-center">
                    <img class="sm-ignore" src="static\img\Pagoda RB Blur.png">
                  </div>
                  <div class="stretch-l col-lg-4 col-md-4 col-sm-3 col-xs-3 justify-content-center">
                    <img  class="" src="static\img\Autumn banner 1.2.jpg">
                  </div>
                </div>
                  <hr>
                  
                  <!-- second row -->
                  <div class="mx-3 text-start" > 
                    <a class="port-title" href="{{url_for('design')}}">

                      <p  class=" display-1" >Content Creation</p>
                    </a>
                  </div>

                  <div class=" row img-cont ">
                    <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-6 my-auto">
                        <img class="long-top" src="static\img\autumn-program-thin-banner.gif" style="max-height: 75px; margin-bottom: 7px;">
                        <img  class="long-bottom small-width" src="static\img\Good-WInter.gif" style="max-height: 75px;">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                      <img src="static\img\IMG_0341.PNG" style="max-height: 165px;">
                    </div>
                    <div class=" col-lg-3 col-lg-3 col-md-3 col-sm-6 col-xs-6 ">
                      <img class="sm-ignore" src="static\img\Version-2.B.jpg" style="max-height: 165px;">
                    </div>
                  </div>
                  <!-- second row pt-2 -->
                 
                    <hr>
                  
                  <!-- third row -->
                  <div class="container ">
                    <div class="my-auto my-2 mx-3" > 
                      <a class="port-title" href="{{url_for('proff')}}">

                        <p class=" display-1 text-end" >Professional Coaching<p>
                      </a>
                    </div>
                  <div class=" my-2 row img-cont ">
                    <div class="stretch-l col-lg-3 col-md-3 col-sm-6 col-xs-6">
                      <img class=""  style="max-height:160px" src="static\img\Prof_coaching\IMG_20190726_162440good (2).jpg">
                    </div>
                    <div class="stretch-l col-lg-3 col-md-3 col-sm-6 col-xs-6">
                      <img  class="" style="max-height: 160px" src="static\img\Prof_coaching\IMG_0358 (4).PNG">
                    </div>
                    <div class="stretch-l col-lg-3 col-md-3 col-sm-6 col-xs-6 ">
                      <img class="" style="max-height: 160px" src="static\img\Prof_coaching\IMG_8260 (3).JPG">
                    </div>
                    <div class="stretch-l col-lg-3 col-md-3 col-sm-6 col-xs-6 " >
                      <img class="" style="max-height: 160px" src="static\img\Prof_coaching\P1140595.jpg">
                    </div>
                  </div>
                  </div>
                    <hr> 

              </div>
          </div>
      <script>$('.carousel').carousel({
        interval: 1000
      })</script>
    
{% endblock %}
