{% extends 'base.html' %}

{% block title %} About {% endblock %}

{% block body %}

<div class="container">

    <div class="container row hr align-items-center">
        <div class="row col-md-7 col-sm-12">
        <h1 class="submain-title text-sm-right">
            PROJECT BREAKDOWN
        </h1>
        <p class="submain-text special-text">
            I have a range of experience, both at work and in my personal projects. You can see this in the selection of projects below:
        </p>
        </div>
        <div class="row col-md-5 col-sm-12"> 
            <div>
                <a href="https://github.com/UndrscoreEX">
                    <img class='display-fullwidth small-width' src="static\img\github.png" alt="github-account">
                </a>
            </div>
        </div>
    </div>
    
    <hr class="mt-5 mb-5">
    <!-- new panel -->

    <div class="container row align-items-center">
        <div class="col-xs-12 col-md-7">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="img-fluid mt-5 mb-5" src="/static/img/django_proj/bach_calc_eng.png">
                    </div>
                    <div class="carousel-item">
                        <img class="img-fluid mt-5 mb-5" src="/static/img/django_proj/bach_calc_jp.png">
                    </div>
                    <div class="carousel-item">
                        <img class="img-fluid mt-5 mb-5" src="/static/img/django_proj/bach_results_jp.png  ">
                    </div>
                    <div class="carousel-item">
                        <img class="img-fluid mt-5 mb-5" src="/static/img/django_proj/bach_results_eng.png">
                    </div>
                    </div>
                </div>
        </div>
        <div class="col-xs-12 col-md-5">
                <div class="project-div">
                    <h3 class="">Japanese Bachelor Calculator</h3>
                    <p class="">
                        <strong>
                            Stack: HTML/CSS and Bootstrap, Python (Django), Javascript (Vue.js) AWS EC2 (Ubuntu), MySQL, Route53, Nginx, certbot, supervisor 
                        </strong>
                    </p>
                    <p>
                        I enjoy looking at stastical data and demographic breakdowns. With my experience in Japanese national statistics, I have created a calculator that can show the percentage of men that exist in Japan, given the entered conditions.
                    </p>
                    <p>
                        <strong>
                            Things I am proud of: <br>
                        </strong>
                        - DB Design and Queries: It was fun to consider how to structure a database to easily query the data that I need. I learned a lot of the small hiccups that occur over combining dozens of data points into a final calculation. <br>
                        - It was a ambitious project that included Django and Vue.js, DB management, Japanese language and statistics.
                    </p>
                    <div class="d-flex justify-content-between">
                        <a href="https://github.com/UndrscoreEX/Male_statistics_calculator">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#FF312E" class="bi bi-github" viewBox="0 0 16 16">
                                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                            </svg>
                            View Project 
                        </a>
                        <a href="https://www.bach.underscoreex.com/spec/eng/">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#FF312E" class="bi bi-link-45deg" viewBox="0 0 16 16">
                                <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
                                <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"/>
                              </svg>
                              View Product
                        </a>
                    </div>
                    
        
                    
                </div>
        </div>
    </div>
    <hr class="mt-5 mb-5">
<!-- new panel -->

    <div class="container row align-items-center">
        <div class="col-xs-12 col-md-5">
            <div class="project-div">
                <h3 class="">Portfolio Website</h3>
                <p class="">
                    <strong>
                        Stack: HTML/CSS and Bootstrap, Python (Flask), AWS EC2 (Ubuntu), Route53, Photoshop, Nginx, certbot, supervisor 
                    </strong>
                </p>
                <p>
                    I built this portfolio website from the ground up; the overall design, the front-end coding, the server hosting, and the domain routing. 
                    This was a great chance for me to display my creative and technical ability.  
                </p>
                <p>
                    <strong>
                        Things I am proud of: <br>
                    </strong>

                - This is a good representation of myself and my overall skills.  
                <br>
                - Design: The design is clear and clean.  
                
            </p>
            <p>
                <strong>
                    Challenges: <br>
                </strong>
                
                - Design: The first version looked acceptable but I eventually changed the design to be solid and consistent so that I can easily update and add new projects each time.
                <br>
                - EC2 Server Management: I have had the experience of hosting websites on an EC2 server before, but dynamically routing to multiple different domains, setting certs, etc for 3 flask apps on the same server was a new challenge.  
            </p>
            <div class="d-flex justify-content-between">
                <a href="https://github.com/UndrscoreEX/Proff_Portfolio">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#FF312E" class="bi bi-github" viewBox="0 0 16 16">
                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                    </svg>
                    View Project 
                </a>
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#FF312E" class="bi bi-link-45deg" viewBox="0 0 16 16">
                        <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
                        <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"/>
                      </svg>
                      View Product
                </a>
            </div>
    
                
            </div>
        </div>
        <div class="col-xs-12 col-md-7">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                      <img class="img-fluid" src="/static/img/E_H_Banner.png">
                    </div>
                    <div class="carousel-item">
                        <img class="img-fluid mt-5 mb-5" src="/static/img/homepage.png">
                    </div>
                    <div class="carousel-item">
                        <img class="img-fluid mt-2 mb-2" src="/static/img/Design.png">
                    </div>
                </div>
              </div>
        </div>
    </div>
            
    <hr class="mt-5 mb-5">
<!-- new panel -->


    <div class="container row align-items-center">
        <div class="col-xs-12 col-md-7">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="img-fluid" src="/static/img/API-hp.png">
                    </div>
                    <div class="carousel-item">
                        <img class="img-fluid mt-5 mb-5" src="/static/img/article.png">
                    </div>
                    <div class="carousel-item">
                        <img class="img-fluid mt-2 mb-2" src="/static/img/JSONpng.png">
                    </div>
                    </div>
                </div>
        </div>
        <div class="col-xs-12 col-md-5">
                <div class="project-div">
                    <h3 class="">Article Api</h3>
                    <p class="">
                        <strong>
                            Stack: HTML/CSS and Bootstrap, Python (Flask, Pandas, JSONify), AWS EC2 (Ubuntu), Route53, Nginx, certbot, supervisor 
                        </strong>
                    </p>
                    <p>
                        As a result of a previous project (web scraping), I have CSVs of the website www.risingwasabi.com that I sometimes use for fun Japanese study.  
                    </p>
                    <p>
                        <strong>
                            Things I am proud of: <br>
                        </strong>
    
                        Search function: I created back-end logic that will take several keywords from a form input, search the pandas dataframe and generate a dynamic list of results that include those words. It was a fun exercise that included a little of everything.      
                    </p>
                    <div class="d-flex justify-content-between">
                        <a href="https://github.com/UndrscoreEX/Blog_api">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#FF312E" class="bi bi-github" viewBox="0 0 16 16">
                                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                            </svg>
                            View Project 
                        </a>
                        <a href="https://www.api.underscoreex.com/">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#FF312E" class="bi bi-link-45deg" viewBox="0 0 16 16">
                                <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
                                <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"/>
                              </svg>
                              View Product
                        </a>
                    </div>
                    
        
                    
                </div>
        </div>
    </div>
    <hr class="mt-5 mb-5">

<!-- new panel -->
    <div class="container row align-items-center">
        <div class="col-xs-12 col-md-5">
            <div class="project-div">
                <h3 class="">AWS Practice Exam</h3>
                <p class="">
                    <strong>
                        Stack: HTML/CSS and Bootstrap, Python (Flask, Pandas, Flask-SQLAlchemy), AWS EC2 (Ubuntu), Route53, Nginx, certbot, supervisor 
                    </strong>
                </p>
                <p>
                    I wanted to practice my flask backend skills. For this I used some of my AWS practice exam sheets to generate a dynamic test application with the content, which can check for correct answers and generate a final score.  
                </p>
                <p>
                    <strong>
                        Challenges: <br>
                    </strong>
                    - Problems with variables across worker nodes: I had to do a lot of troubleshooting as to why the score wasn't being recorded when hosting online. I later found that some variables changes are not always consistent across worker nodes. For this, I had to use Flask-SQLAlchemy DB to ensure consistency.
                </p>
                <div class="d-flex justify-content-between">
                    <a href="https://github.com/UndrscoreEX/Flask_app_AWS-practice-Test">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#FF312E" class="bi bi-github" viewBox="0 0 16 16">
                            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                        </svg>
                        View Project 
                    </a>
                    <a href="https://www.aws.underscoreex.com/">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#FF312E" class="bi bi-link-45deg" viewBox="0 0 16 16">
                            <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
                            <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"/>
                          </svg>
                          View Product
                    </a>
                </div>
    
                
            </div>
        </div>
        <div class="col-xs-12 col-md-7">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                      <img class="img-fluid" src="/static/img/aws_start.png">
                    </div>
                    <div class="carousel-item">
                        <img class="img-fluid mt-5 mb-5" src="/static/img/aws_question.png">
                    </div>
                    <div class="carousel-item">
                        <img class="img-fluid mt-2 mb-2" src="/static/img/aws-end.png">
                    </div>
                    
                </div>
              </div>
        </div>
    </div>
            
    <hr class="mt-5 mb-5">
    


<!-- new panel -->


<div class="container row align-items-center">
    <div class="col-xs-12 col-md-7">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" >
                    <img class="img-fluid" src="/static/img/main-hub.png" >
                </div>
                <div class="carousel-item" >
                    <img class="img-fluid mt-5 mb-5" src="/static/img/added-record.png" >
                </div>
                <div class="carousel-item"  >
                    <img class="img-fluid mt-2 mb-2" src="/static/img/search.png">
                </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-5">
            <div class="project-div" style="min-height: 400px;">
                <h3 class="">SNS Account DB</h3>
                <p class="">
                    <strong>
                        Stack: HTML/CSS and Bootstrap, Python (PyQT6, SQLite3)
                    </strong>
                </p>
                <p>
                    A GUI for adding/searchng/deleting SNS account info (name, email, password, etc)
                </p>
                <p>
                    <strong>
                        Things I am proud of: <br>
                    </strong>

                    Creating a practical GUI that I can imagine seeing in being used in the real-world. 
                </p>
                <p>
                    <strong>
                        Challenges: <br>
                    </strong>
                    - There are a lot of UI/UX elements that I didn't consider initially (error messages, managing bad inputs etc) 
                </p>
                <div class="d-flex">
                       
                    <a class='' href="https://github.com/UndrscoreEX/Account_DB">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#FF312E" class="bi bi-github" viewBox="0 0 16 16">
                            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                          </svg>
                          View Project 
                    </a>
                </div>
    
                
            </div>
        </div>
</div>
</div>

<hr class="mt-5 mb-5">


<!-- <script>$('.carousel').carousel({
    interval: 700
})</script>
<script>$('.carousel').carousel({
    interval: 500
})</script> -->
<script>$('.carousel').carousel({
    interval: 800
  })</script>



{%  endblock %}
