{% extends 'base.html' %}

{% block title %} About {% endblock %}

{% block body %}

<div class="container">

    <div class="container row hr align-items-center">
        <div class="row col-md-7 col-sm-12">
        <h1 class="submain-title text-sm-right">
            PROJECT BREAKDOWN
        </h1>
        <p class="submain-text special-text">
            I have a range of experience, both at work and in my personal projects. Through these, I have a large range of pracitcal skills and sotware experiences.
        </p>
        </div>
        <div class="row col-md-5 col-sm-12"> 
            <div>
                <img class='display-fullwidth small-width' src="static\img\github.png" alt="">
            </div>
        </div>
    </div>
    <hr>
    <div class="container row align-items-center">
        <div class="col-xs-12 col-md-6">
            <div>
                <h3 class="">Portfolio Website</h3>
                <p class="">
                    <em>
                        Stack: HTML/CSS and Bootstrap, Python (Flask), AWS EC2 (Ubuntu), Route53, Photoshop, Nginx, certbot, supervisor 
                    </em>
                </p>
                <p>
                    I built this portfolio website from the ground up; the overall design, the front-end coding, the server hosting, and the domain routing. 
                    This was a great chance for me to display my works, both creative and technical, and be a demonstration of my full stack development capabilities.  
                </p>
                <p>
                    Things I am proud of: <br>

                - As a general representation of myself and my skills, I think this is a good overall product.  

                - Design: The design is clear and clean. I am happy to have a lot of creative works that I can put on display in an interesting way.  

                </p>
    
                
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="w-100">
                <img src="/static/img/E_H_Banner.png">
                <img src="">
                <img src="">
            </div>
        </div>
            

    </div>
    
</div>




{%  endblock %}